* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-xanh-vua);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

:root {
    --color-xanh-vua: #219ebc;
    --color-xanh-nhat: #caf0f8;
    --color-xanh-dan: #023047;
    --color-vang: #ffb703;
    --color-cam: #fb8500;

}

.text-blue {
    color: var(--color-xanh-dan);

}

.text-brow {
    color: var(--color-vang);
}

.underline {
    border-bottom: 2px var(--color-xanh-dan) solid;
}

/* content */

.all-container {
    width: 100%;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    text-align: -webkit-center;
}

.row-container {
    flex-wrap: wrap;
    text-align: center;
    max-width: 100%;
}

.col-full {
    min-width: 50%;
    text-align: center;
}

.text-center {
    text-align: center !important;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--color-cam);
    border-collapse: collapse;
    background-color: var(--color-xanh-dan);
    font-size: 1.4rem;
}

thead {
    font-size: 1.4rem;
}

tbody {
    font-size: 1.2rem;
}

thead>tr>th {
    padding: 20px;
}


tr {
    border: 1px var(--color-xanh-vua) solid;
}

tbody>tr>td {
    padding: 10px 0;
}

.btn-detail {
    color: var(--color-cam);
    background-color: var(--color-xanh-vua);
    border-color: var(--color-xanh-vua);

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-detail:hover {
    opacity: 0.8;
}

td~td {
    border: 1px var(--color-xanh-vua) solid;
}

th~th {
    border: 1px var(--color-xanh-vua) solid;
}

div>h1 {
    margin-bottom: 40px;
}
