* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-xanh-nhat);
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

:root {
    --color-xanh-vua: #219ebc;
    --color-xanh-nhat: #caf0f8;
    --color-xanh-dan: #023047;
    --color-vang: #ffb703;
    --color-cam: #fb8500;

}

.text-blue {
    color: var(--color-xanh-dan);
    
}
.text-brow {
    color: var(--color-vang);
}
.underline {
    border-bottom: 2px var(--color-xanh-dan) solid;
}

        /* header */

header .navbar {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    background-color: var(--color-vang);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-xanh-vua) ;
    position: fixed;
    top: 0px;
    z-index: 1030;
}


header h1>a{
    font-size: 60px;
    
}

header a:hover{
    text-decoration: none;
}

ul{
    float: left;
    list-style: none;
    margin-top: 6px;
}

ul>li{
    display: inline;
    padding: 0 20px;
    list-style: none;
    font-size: 1.1rem;
}

.nav-item a {
    font-size: 1.7rem;
    width: 100%;
    border-bottom: 2px solid white;
    transition: 0.5s all;
    text-decoration: none;
    padding: 10px;
    
}

ul>li>a {
    color: var(--color-xanh-vua) ;
    cursor: pointer;
    font-weight: bold;
}

.nav-item a:hover {
    border-bottom: 0px solid transparent;
    color: var(--color-xanh-dan);
}


        /* content */

.all-content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 200px auto 0px;
    margin-bottom: 10px;
}

.text-center {
    margin-bottom: 30px;
}

.size-img {
    width: 100% !important;
    height: 700px;
}

        /* menu */

.menu-intro {
    background-image: url("https://images.vexels.com/media/users/3/157222/isolated/lists/53798bcd7054e4feaef568a5cf49574b-pizza-sticker.png");
    background-size:contain;
    background-image: fixed;
    padding: 120px 0px 0px 0px;
    text-align: center;
}

.menu-combo {
    padding: 70px 0px 20px;
    text-align: center;
}

.row-menu {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-menu {
    flex: 0 0 33.3333333333%;
    max-width: 30.333333333%;
    margin: 10px 20px;
}

.info-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
}

.info-menu-header {
    background-color: var(--color-xanh-dan);
    color: var(--color-vang);
    text-align: center;
    border-bottom: var(--color-vang) 1px solid;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.info-menu-header>h3 {
    padding-top: 15px;
}

.img-combo {
    flex-shrink: 0;
    width: 100%;
}

.info-menu-body {
    background-color: var(--color-xanh-vua);
    color: var(--color-vang);
    text-align: center;
    border-bottom: var(--color-vang) 1px solid;
}

.info-menu-footer {
    background-color: var(--color-xanh-dan);
    color: var(--color-vang);
    text-align: center;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
div>ul {
    float: none;
}

.list-style {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: var(--color-xanh-vua);
    border: 1px solid rgba(0,0,0,.155);
}

button {
    background-color: var(--color-xanh-vua);
    border: none;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--color-vang);
    margin: 5px 0px;
}

button:hover {
    opacity: 0.8;
}


.dink-label {
    flex: 0 0 25%;
    max-width: 25%;
    padding-top: 8px;
    font-size: 1.25rem;
}

.dink-select {
    flex: 0 0 75%;
    max-width: 75%;
    
    
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

        /* bottom */

.all-button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-vang);
}

.row-button {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;;
}

.col-button {
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--color-xanh-dan);
    text-align: center;
    margin: 30px 0;
    border: none;
}

div>i {
    font-size: 50px;
}

button~div {
    margin: 20px;
}

button>a {
    text-decoration: none;
    color: var(--color-vang);
}
h3~button {
    width: 15%;
}

.btn-chon {
    background-color: #52b788;
}

.btn-khong-chon {
    background-color: var(--color-xanh-vua);
}

        /* form data person order */

.col-order {
    flex: 0 0 100%;
    max-width: 100%;
}

div>label {
    min-width: 90px;
    text-align: left;
}

.row-order {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.col-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-100 {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
}

.col-30 {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
}

.col-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    text-align: center;
}

.col-70 {
    flex: 0 0 70%;
    max-width: 70%;
}

.col-100~.col-100 {
    margin: 20px 0;
}

        /* order id & thanks */


.all-orderid {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-vang);
    border-radius: 100px;
    margin-bottom: 30px;
}

#div-data-pizza {
    width: 100%;
}

#div-ma-don-hang {
    display: inline-flex;
    justify-content: center;
}
div#div-ma-don-hang>label {
   padding: 5px;
   font-size: 1.1rem;
}

        /* form xác nhận hoặc hủy bỏ */


.width100 {
    width: 100%;
    text-align: right;
}

.width100>button:first-child {
    margin-right: 62px;
}