* {
    margin: 0;
    padding: 0;
}

#main_list {
    background-color: antiquewhite;
    padding: 20px;
    height: 700px;
    width: 500px;
    margin: auto;
}

#img-people {}

#h1-chao-mung {
    padding: 30px;
}

#control_main {
    display: flex;
    justify-content: center;
}

#img-dice {
    margin: auto;
}

#btn-xuc-xac {
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin: 10px 50px;
    background-color: rgb(86, 255, 44);
    border: 15px solid rgb(39, 95, 128);
}

#btn-xuc-xac:hover {
    background-color: red;
    color: #fff;
    border: 13px solid rgb(255, 255, 255);
}

#h2-result {
    width: 500px;
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(207, 206, 206);
}