#main {
    width: 700px;
    height: 800px;
    margin: auto;
    background-color: antiquewhite;
}

#img-people {
    height: 300px;
}

#h1_chao_mung {
    text-align: center;
    color: hotpink;
}

#control {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#btn_play {
    background-color: gold;
    color: gold;
    margin-top: 25px;
    margin-left: 100px;
    height: 80px;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#btn_play:hover {
    color: black;
}

#h2_ket_qua {
    text-align: center;
    margin-top: 30px;
}