body {
    background-color: #ccc;
}

#content {
    padding: 20px;
}

.slider {
    width: 600px;
}

#input-message {
    width: 600px;
    height: 30px;
    margin-top: 15px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.btn-success {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

.btn-success:hover {
    background-color: orange;
}

#p-message {
    flex-direction: column;
    color: blue;
    display: none;
}

#img-like-icon {
    width: 10%;
    display: none;
}